# فایل‌های سیستمی و کش پایتون
__pycache__/
*.pyc
.history/

# پایگاه داده (اگر حاوی اطلاعات واقعی کاربران است نباید آپلود شود)
*.db
cbi_ultimate.db

# فایل‌های مدل هوش مصنوعی (اگر خیلی حجیم باشند، گیت ممکن است خطا دهد، اما 26 مگابایت فعلا اوکی است)
# *.pth

# فایل‌های حساس و محیطی
.env
venv/
mahan